{% extends "layout.html.twig" %}

{% block title %}
	<h1>My Blog</h1>
	<span class="subheading">S'inscrire</span>
{% endblock %}

{% block content %}
	<!-- Main Content-->
	<main class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<p>Inscrivez vous et exprimez vous grâce aux commentaires!
					</p>
					<div class="my-5">
						<form id="contactForm" method="POST" action="index.php?action=addUser">
							<div class="form-floating">
								<input class="form-control" id="name" name="username" type="text" placeholder="Votre nom" data-sb-validations="required"/>
								<label for="username">Nom</label>
								<div class="invalid-feedback" data-sb-feedback="username:required">Votre nom</div>
							</div>
							<div class="form-floating">
								<input class="form-control" id="email" name="email" type="email" placeholder="Votre email" data-sb-validations="required,email"/>
								<label for="email">Email</label>
								<div class="invalid-feedback" data-sb-feedback="email:required">Un email est nécessaire</div>
							
							</div>
							<div class="form-floating">
								<input class="form-control" id="password" name="password" type="password" placeholder="Votre mot de passe" data-sb-validations="required,email"/>
								<label for="password">Mot de passe</label>
								<div class="invalid-feedback" data-sb-feedback="password:required">Un mot de passe est nécessaire</div>
							
							</div>
							<input type="hidden" name="user_status" value="{{ 'user' }}">
							<br/>
							
							<!-- Submit Button-->
							<input type="submit" name="button" value="S'enregistrer"/>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
