{% extends "layout.html.twig" %}

{% block title %}
	<h1>
		Ajouter un commentaire
	</h1>
	<span class="subheading"></span>
{% endblock %}

{% block content %}

	<p>
		<a href="index.php?action=listPosts">Retour à la liste des articles</a>
	</p>

	<!-- Main Content-->
	<main class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="my-5">
						<form id="contactForm" method="POST" action="index.php?action=addComment">
							<div class=" form-floating">
							<input class="form-control" id="titre" type="textarea" name="comment" placeholder="Commentaire" data-sb-validations="required"/>
						<label for="commentaire">Commentaire</label>
						<div class="invalid-feedback" data-sb-feedback="name:required">Commentaire</div>
						</div>
						<input type="hidden" name="is_valid" value="{{ '2' }}">
							<input type="hidden" name="posts_post_id" value="{{ post.post_id }}">
							<input type="hidden" name="users_user_id" value="{{ comment.users_user_id }}">
						
						<br/>
						<input type="submit" name="button" value="Enregistrer"/>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>{% endblock %}
