{% extends "layout.html.twig" %}

{% block title %}
	<h1>
		My Blog
	</h1>
	<span class="subheading">
		A Blog about me
	</span>
{% endblock %}

{% block content %}
	<!-- Main Content-->
	<div class="container">
		<div class="row ">
			<div class="col-lg-4 ">
				<h1 class="text-primary my-4">Bérengère Pillias</h1>
				<h2>Développeur<br>PHP
					<img src="public/assets/img/php.png" width="50px" height="50px" alt="Logo">
					/ Symfony<img src="public/assets/img/symfony.png" width="50px" height="50px" alt="Logo">
				</h2>
			</div>
			<div class="col-lg-4">
				<img src="public/assets/img/photo.jpg" class="rounded-circle" alt="photo">
			</div>
			<div class="offset-1 col-lg-3">
				<h3>Mon cv</h3>
				<div class="col-md-10 col-lg-8 col-xl-7">
					<img class="text-center" src="public/assets/img/cv.PNG" alt="Mon CV" style="width: 50%">
					<a href="public/assets/cv.pdf" download="cv_BérengèrePillias.pdf" title="Télécharger mon CV" target="_blank">
						<button class="btn btn-primary">Télécharger</button>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<hr class="star-primary">
				<h2>A propos de moi</h2>
				<hr class="star-primary">
			</div>
		</div>
	</div>
	<!-- About me -->
	<main class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<p>J'ai intégré le 10 mai 2021 la formation de "Développeur d'application - PHP/Symfony" d'une duréee d'un an chez
						<a href="https://openclassrooms.com/fr/" target="_blank" title="Ouvre le site Openclassrooms">Openclassrooms</a>.</p>
					<p><img class="profil" src="/public/assets/img/.jpg" alt="">J'ai commencé ma formation en 2020 pour passer
																																																																																					le titre professionel développeur web et web mobile avec l'
						<a href="https://www.eni-ecole.fr/" target="_blank" title="Ouvre le site ENI">ENI</a>.</p>
					<p></p>
					<p>J'ai dejà pu apprendre énormément sur les bases CSS/HTML, le CMS Wordpress ainsi que le framework Bootstrap.</p>
				</div>
			</div>
		</div>
	</main>


	<!-- Portfolio Grid Section -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<hr class="star-primary">
				<h2>Mes Projets</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row text-center">
			<div class="col-sm-4 portfolio-item">
				<h4>Wordpress / Chalets & Caviar</h4>
				<a href="#" class="portfolio-link" data-toggle="modal">
					<img src="public/assets/img/chalet.jpg" class="mw-100" alt="chalet">

				</a>
			</div>
			<div class="col-sm-4 portfolio-item">
				<h4>Bootstrap / Festival de plein air</h4>
				<a href="#" class="portfolio-link" data-toggle="modal">
					<img src="public/assets/img/film.PNG" class="img-fluid" alt="film">
				</a>
			</div>
			<div class="col-sm-4 portfolio-item">
				<h4>UML-BDD / ExpressFood</h4>
				<a href="#" class="portfolio-link" data-toggle="modal">
					<img src="public/assets/img/MDP.png" class="img-fluid" alt="mdp">
				</a>
			</div>
		</div>
	</div>
{% endblock %}