{% extends "layout.html.twig" %}

{% block title %}
	<h1>
		Ajouter un article
	</h1>
	<span class="subheading"></span>
{% endblock %}

{% block content %}

	<p>
		<a href="index.php?action=listPosts">Retour à la liste des articles</a>
	</p>


	<!-- Main Content-->
	<main class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="my-5">
						<form id="contactForm" method="POST" action="index.php?action=listPosts">
							{# <div class="form-floating">
								<input class="form-control" id="name" type="text" placeholder="Votre nom" data-sb-validations="required"/>
								<label for="name">Auteur</label>
								<div class="invalid-feedback" data-sb-feedback="name:required">Votre nom</div>
							</div> #}
							<div class="form-floating">
								<input class="form-control" id="titre" type="text" placeholder="Titre de l'article" data-sb-validations="required"/>
								<label for="title">Titre</label>
								<div class="invalid-feedback" data-sb-feedback="name:required">Titre de l'article</div>
							</div>
							<div class="form-floating">
								<input class="form-control" id="chapo" type="textarea" placeholder="Chapo" data-sb-validations="required"/>
								<label for="chapo">Chapo</label>
								<div class="invalid-feedback" data-sb-feedback="chapo:required">Chapo de l'article</div>
							</div>
							<div class="form-floating">
								<input class="form-control" id="content" type="textarea" placeholder="Content" data-sb-validations="required"/>
								<label for="content">Article</label>
								<div class="invalid-feedback" data-sb-feedback="content:required">Article</div>
							</div>
							<div class="form-floating">
							<input class="form-control" id="user" type="text" placeholder="user" data-sb-validations="required"/>
							<label for="user">id user</label>
							<div class="invalid-feedback" data-sb-feedback="user:required">id user</div>
						</div>
							<br/>
							<!-- Submit success message-->
							<!---->
							<!-- This is what your users will see when the form-->
							<!-- has successfully submitted-->
								<div class="d-none" id="submitSuccessMessage"> <div class="text-center mb-3">
									<div class="fw-bolder">L'article a bien été ajouté</div>
									<br/>
								</div>
							</div>
							<!-- Submit error message-->
							<!---->
							<!-- This is what your users will see when there is-->
							<!-- an error submitting the form-->
								<div class="d-none" id="submitErrorMessage"> <div class="text-center text-danger mb-3">Erreur lors de l'envoi du message!</div>
							</div>
							<!-- Submit Button-->
							<input
							type="submit" name="button" value="Enregistrer"/>
						{# <button class="btn btn-primary text-uppercase disabled" id="submitButton" type="submit">Envoyer</button> #}
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
	{# <div class="form-group">
								<label for="author">Auteur</label><br/>
								<input type="text" id="auteur" name="auteur" value="" class="form-control" required/>
					
							</div>
							<div class="form-group">
								<label for="title">Titre</label><br/>
								<input type="text" id="title" name="title" value="" class="form-control" required/>
							</div>
							<div class="form-group">
								<label for="chapo">Chapo</label><br/>
								<input type="text" id="chapo" name="chapo" value="" class="form-control" required/>
							</div>
							<div class="form-group">
								<label for="content">Contenu</label><br/>
								<textarea id="content" name="content" rows="10" class="form-control" required></textarea>
							</div>
							<div class="form-group">
								<input type="submit" value="Ajouter">
							</div> #}
</form>{% endblock %}
