{% extends "layout.html.twig" %}

{% block title %}
    <h1>
        My Blog
    </h1>
    <span class="subheading">
        A Blog about me
    </span>
{% endblock %}

{% block content %}{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>My Blog</title>
    <link rel="icon" type="image/x-icon" href="public/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="public/css/styles.css" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.html">Accueil</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                        href="templates/user/listPosts.html.twig">Articles</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                        href="templates/user/contact.html.twig">Contact</a></li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                            href="templates/user/login.html.twig">Se connecter</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                            href="templates/user/register.html.twig">S'inscrire</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('public/assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>My Blog</h1>
                        <span class="subheading">A Blog about me</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h1 class="text-primary my-4">Bérengère Pillias<br>Bienvenue sur mon blog !</h1>
                    <section class="container-fluid banner mb-0">
                        <div class="col-md-3 col-lg-2 col-xl-1">
                            <img class="photo" src="public/assets/img/photo.JPG" alt="Ma photo">
                        </div>
                        <div class="inner-banner">
                            <img class="logo" src="#" alt="Logo">
                        </div>
                    </section>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <img src="public/assets/img/cv.PNG">
                    <p class="text-center"><a href="public/assets/cv.pdf" download="cv_BérengèrePillias.pdf"
                            title="Télécharger mon CV" target="_blank"><button
                                class="btn btn-primary">Télécharger</button></a></p>
                </div>
            </div>
            <h3>Etudes :</h3>
            <p>J'ai intégré le 10 mai 2021 la formation de "Développeur d'application - PHP/Symfony" d'une duréee d'un
                an chez
                <a href="https://openclassrooms.com/fr/" target="_blank"
                    title="Ouvre le site Openclassrooms">Openclassrooms</a>.</p>
            <p><img class="profil" src="/public/assets/img/.jpg" alt="">J'ai commencé ma formation en 2020 pour passer
                le titre professionel développeur web et web mobile avec l'
                <a href="https://www.eni-ecole.fr/" target="_blank" title="Ouvre le site ENI">ENI</a>.</p>
        </div>
    </main>

    <!-- Footer-->
    <footer class="border-top">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="small text-center text-muted fst-italic">Copyright &copy;<a href="#"> My blog</a></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="public/js/scripts.js"></script>
</body>

</html>